{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                <p>Please select all of your allergies.</p>
                <div class="form-outline text">
                    <form method="POST">
                        <div class="row">
                            <div class="col">
                                <label for="option1">
                                    milk/lactose</label>
                                <input type="checkbox" id="option1" name="allergies" value="milk/lactose">
                            </div>

                            <div class="col">
                                <label for="option2">eggs</label>
                                <input type="checkbox" id="option2" name="allergies" value="eggs">
                            </div>

                            <div class="col">
                                <label for="option3">fish</label>
                                <input type="checkbox" id="option3" name="allergies" value="fish">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="option4">shellfish</label>
                                <input type="checkbox" id="option4" name="allergies" value="shellfish">
                            </div>

                            <div class="col">
                                <label for="option5">peanuts</label>
                                <input type="checkbox" id="option5" name="allergies" value="peanuts">
                            </div>

                            <div class="col">
                                <label for="option6">tree nuts</label>
                                <input type="checkbox" id="option6" name="allergies" value="tree nuts">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="option7">wheat</label>
                                <input type="checkbox" id="option7" name="allergies" value="wheat">
                            </div>

                            <div class="col">
                                <label for="option8">soy</label>
                                <input type="checkbox" id="option8" name="allergies" value="soy">
                            </div>

                            <div class="col">
                                
                            </div>
                        </div>

                        <input type="submit" class="btn btn-outline-info" value="Next">
                    </form>
        </fieldset>
    </form>
</div>
{% endblock content %}